@import "~@blueprintjs/core/lib/css/blueprint.css";

#navbar {
  background-color: #6ad4a9;
  color: white;
}

.bp3-icon {
  margin-right: 5px;
}

.linkNavbar {
  text-decoration: none;
  display: flex;
}

#titleNavbar {
  margin: 2px 0px 0px 9px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.linkNavbar:hover {
  text-decoration: none;
}

.headerButtons svg {
  fill: white !important;
}